# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore database
db.sqlite3

# Ignore local development settings
settings_local.py

# Ignore Docker-related files
docker-compose.yml
Dockerfile

# Ignore Redis data
redis-data/

# Ignore any logs
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore package lock files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Django migration files
**/migrations/
